<h2 class="ko">お知らせ！</h2>
<ul>
  <% @notifications.each do |notification| %>
  <hr>
    <li>
      <span><% if notification.read == true %></span>
      <p>既読</p>
      <% else %>
      <p>未読</p>
      <% end %>
      <p class="ko2">
        <%= notification.comment.user.try(:name) %>さんが
         あなたのブログ（<%= link_to "#{notification.comment.blog.title}", blog_path(notification.comment.blog, notification_id: notification.id) %>）にコメントしました。
      </p>
      <p><%= notification.created_at %></p>
    </li>
  <% end %>
</ul>
